em{
    font-variant: small-caps;
    font-size: 20px;
    word-spacing: 2px;
    line-height: 25px;
}
h1{
    color: white;
    text-shadow: 0 0 5px red;
}
body{
    text-align: center;
}
strong{
    color: brown;
}
.doan1{
    color: red;
}
.doan2{
    color: blue;
}
.doan3{
    color: green;
}
.menu{
    font-size: 30px;
}
.menu>a{
    font-variant: small-caps;
    color: blue;
    text-decoration: none;
}
.menu>a:visited{
    color: green;
}
.menu>a:hover{
    color: red;
    text-decoration: underline;
}