html{
    scroll-behavior: smooth;
}

body{
    font-family: "Montagu Slab", serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

nav{
    background-color: #009ac2;
    background: linear-gradient(to top, #7be5ff, #009ac2);
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
    width: 500px;
}

.searchInput::placeholder{
    color: white;
    font-weight: 700;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 3px solid white;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin: 50px;
    cursor: pointer;
    color: white;
    font-weight: 400;
}

.slider{
    background: url("/img/background.png");
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg{
    width: 800px;;
    height: 800px;
    border-radius: 50%;
    position: absolute;
}

.sliderImg{
    z-index: 1;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: orangered;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    padding: 9px;
    top: 10%;
    left: 10%;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: orangered;
    border: 3px solid white;
    z-index: 1;
}

.buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 55px;
    font-weight: 900;
    color: white;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover{
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg{
    background-color: gray;
}
.sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(18, 59, 20);
}
.sliderItem:nth-child(3) .sliderBg{
    background-color: #f30c2c;
}
.sliderItem:nth-child(4) .sliderBg{
    background-color: turquoise;
}
.sliderItem:nth-child(5) .sliderBg{
    background-color: blue;
}

.sliderItem:nth-child(1) .sliderTitle, .sliderItem:nth-child(1) .sliderPrice{
    color: #29292b;
}
.sliderItem:nth-child(2) .sliderTitle, .sliderItem:nth-child(2) .sliderPrice{
    color: #404427;
}
.sliderItem:nth-child(3) .sliderTitle, .sliderItem:nth-child(3) .sliderPrice{
    color: #720a0a;
}



.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    color: #3cb0d2;
}

.featureDesc{
    color: #3cb0d2;
    width: 100%;
    height: 100px;
}

.featureIcon{
    width: 100px;
    height: 100px;
}



.product{
    height: 100vh;
    background-color: #3cb0d2;
    background: linear-gradient(to right, #ffffff, #3cb0d2);
    position: relative;
    clip-path: none;
    height: 2000px;
}

.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 5px -5px 25px 5px rgba(0,0,0,0.15), -5px 5px 25px 5px rgba(0,0,0,0.15); 
    box-shadow: 5px -5px 25px 5px rgba(0,0,0,0.15), -5px 5px 25px 5px rgba(0,0,0,0.15);
}

.payTitle{
    font-size: 20px;
    color: gray;
}

label{
    font-size: 18px;
    font-weight: 300;
}

.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder{
    color: gray;
}

.payButton{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 5px -5px 25px 5px rgba(0,0,0,0.15), -5px 5px 25px 5px rgba(0,0,0,0.15); 
    box-shadow: 5px -5px 25px 5px rgba(0,0,0,0.15), -5px 5px 25px 5px rgba(0,0,0,0.15);
    background-color: rgb(32, 156, 32);
    color: white;;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}
.productDesc{
    font-style: 24px;
    color: gray;
}
.colors, .sizes{
    display: flex;
    margin-bottom: 20px;
}
.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: rgb(51, 89, 194);
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;   
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover{
    background-color: white;
    color: black;
}



footer{
    display: flex;
}

.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle{
    font-size: 30px;
    margin: 5px;
}

.fList{
    padding: 0;
    list-style: none;
}

.fListItem{
    margin-bottom: 10px;
    color: gray;
}

.fListItem a{
    color: gray;
    text-decoration: none;
}
.fListItem a:visited{
    color: gray;
    text-decoration: none;
}

.footerRight{
    flex: 1;
    padding: 50px;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput{
    padding: 5px;
    margin: 5px;
}

.fButton{
    padding: 5px;
    background-color: black;
    color: white;
}

.copyright{
    color: gray;;
    font-weight: 300px;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
    nav{
        padding: 20px;
    }

    .search{
        display: none;
    }

    .navBottom{
        flex-wrap: wrap;
    }

    .menuItem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }
    
    .slider{
        clip-path: none;
    }

    .sliderImg{
        width: 90%;
    }

    .sliderBg{
        width: 100%;
        height: 100%;
    }

    .sliderTitle{
        display: none;
    }

    .sliderPrice{
        background-color: #91e5ff;
        font-size: 25px;
        font-weight: 450;
        top: unset;
        bottom: -30px;
        left: 0;
    }

    .buyButton{
        font-size: 25px;
        top: 10px;
        right: 10px;
    }

    .features{
        flex-direction: column;
    }

    .product{
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productImg{
        width: 50%;
    }

    .productDetails{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
    }

    .productTitle{
        font-size: 50px;
        margin: 0;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    .footerLeft{
        padding: 20px;
        width: 90%;
    }

    .footerRight{
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }

    .payment{
        width: 90%;
        padding: 20px;
    }
}